<?xml version="1.0"?>
<configuration>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="5000" />
    </connectionManagement>
  </system.net>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />

    <!-- Note that this requires a change to the machine.config file possibly located at
         C:\Windows\Microsoft.NET\Framework64\v4.0.30319\Config -->
    <processModel 
      autoConfig="true"
      maxWorkerThreads = "500"
      maxIoThreads = "2000"
      minWorkerThreads = "50"
      minIoThreads = "50"
    />
    <httpRuntime
      minFreeThreads="500"
      minLocalRequestFreeThreads="50"
    />
  </system.web>

  <system.webServer>
    <handlers>
      <clear />
      <add name="ExtensionlessUrlHandler-Integrated-4.5" path="*" verb="GET,POST,PUT,DELETE" />
    </handlers>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol>
      <customHeaders>
        <clear />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
