<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <handlers>
      <clear />
      <add name="ExtensionlessUrlHandler-Integrated-4.5" path="*" verb="GET,POST,PUT,DELETE" />
    </handlers>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

</configuration>