g { font-size: 12px; padding: 0; margin: 0; }

rect { stroke-width: 0.4; }
text { stroke-width: 0.1; }

g.h1 { font-size: 18px; padding-top: 0; margin-top: 0; padding-bottom: 5px; margin-bottom: 10px; stroke-width: 0.15; }
g.h2 { font-size: 15px; padding-top: 0; margin-top: 0; padding-bottom: 2px; margin-bottom: 3px; stroke-width: 0.15; }
g.h3 { font-size: 12px; padding-top: 0; margin-top: 0; padding-bottom: 2px; margin-bottom: 3px; stroke-width: 0.13; }
g.h4 { font-size: 12px; padding-top: 0; margin-top: 0; padding-bottom: 2px; margin-bottom: 3px; stroke-width: 0.12; }

g.details > text { font-size: 9px; }

g.drawing > rect { stroke:#676798; fill:#ffffff; opacity: 0; }
g.drawing > text { stroke:#000000; fill:#000000; }

g.disabled > rect { stroke:#808080; fill:#fdfdfd; opacity: 0.6; }
g.disabled > text { stroke:#a0a0a0; fill:#a0a0a0; }

g.label > rect { stroke:#808080; fill:#fdfdfd; opacity: 0.6; }
g.label > text { stroke:#a0a0a0; fill:#a0a0a0; }


g.listener > rect { stroke:#009900; fill:#e6ffe6; }
g.listener > text { stroke:#000000; fill:#000000; }

g.internal > rect { stroke:#009999; fill:#e6ffff; }
g.internal > text { stroke:#000000; fill:#000000; }

g.router > rect { stroke:#dda2a2; fill:#f1dada; }
g.router > text { stroke:#000000; fill:#000000; }

g.router_output > rect { stroke:#dda2a2; fill:#f8ecec; }
g.router_output > text { stroke:#000000; fill:#000000; }

g.responder > rect { stroke:#009999; fill:#e6ffff; }
g.responder > text { stroke:#000000; fill:#000000; }

g.server_healthy > rect { stroke:#009900; fill:#e6ffe6; }
g.server_healthy > text { stroke:#000000; fill:#000000; }

g.server_unhealthy > rect { stroke:#ff0066; fill:#fdfdfd; }
g.server_unhealthy > text { stroke:#ff0066; fill:#ff0066; }

g.transform > rect { stroke: #6A5ACD; fill: #e2e2f8; }
g.transform > text { stroke:#696969; fill:#696969; }

g.cors > rect { stroke: #6A5ACD; fill: #e2e2f8; }
g.cors > text { stroke:#696969; fill:#696969; }

g.round_robin > rect { stroke:#808080; fill:#F5F5DC; }
g.round_robin > text { stroke:#696969; fill:#696969; }

g.sticky_session > rect { stroke:#808080; fill:#F5F5DC; }
g.sticky_session > text { stroke:#000000; fill:#000000; }

g.least_connections > rect { stroke:#808080; fill:#F5F5DC; }
g.least_connections > text { stroke:#000000; fill:#000000; }


g.popup > rect { stroke:#808080; fill:#F5F5DC; }
g.popup > text { stroke:#696969; fill:#696969; }

g.button > rect { stroke:#b3ff66; fill:#40bf80; }
g.button > text { stroke:#ffffff; fill:#ffffff; }

g.list  >  rect { stroke:#808080; fill:#F5F5DC; opacity:0.8; }

line.connection_disabled { stroke-width: 1.0; stroke: #ff0066; }
line.connection_light { stroke-width: 0.9; stroke: #009900; }
line.connection_medium { stroke-width: 1.6; stroke: #009900; }
line.connection_heavy { stroke-width: 2.8; stroke: #009900; }
