g { font-size: 12px; padding: 0; margin: 0; }

rect { stroke-width: 0.4; }
text { stroke-width: 0.1; }

g.h1 { font-size: 18px; padding-top: 0; margin-top: 0; padding-bottom: 5px; margin-bottom: 10px; stroke-width: 0.15; }
g.h2 { font-size: 15px; padding-top: 0; margin-top: 0; padding-bottom: 2px; margin-bottom: 3px; stroke-width: 0.15; }
g.h3 { font-size: 12px; padding-top: 0; margin-top: 0; padding-bottom: 2px; margin-bottom: 3px; stroke-width: 0.13; }
g.h4 { font-size: 12px; padding-top: 0; margin-top: 0; padding-bottom: 2px; margin-bottom: 3px; stroke-width: 0.12; }

g.details > text { font-size: 9px; }

g.drawing > rect { stroke:#676798; fill:#ffffff; opacity: 0; }
g.drawing > text { stroke:#000000; fill:#000000; }

g.label > rect { stroke:#808080; fill:#fcfcfc; opacity: 0.6; }
g.label > text { stroke:#808080; fill:#808080; }

g.listener > rect { stroke:#009900; fill:#e6ffe6; }
g.listener > text { stroke:#000000; fill:#000000; }

g.public > rect { stroke:#009999; fill:#e6ffff; }
g.public > text { stroke:#000000; fill:#000000; }

g.router > rect { stroke:#dda2a2; fill:#f1dada; }
g.router > text { stroke:#000000; fill:#000000; }

g.router_output > rect { stroke:#dda2a2; fill:#f8ecec; }
g.router_output > text { stroke:#000000; fill:#000000; }

g.responder > rect { stroke:#009999; fill:#e6ffff; }
g.responder > text { stroke:#000000; fill:#000000; }

g.server_healthy > rect { stroke:#009900; fill:#e6ffe6; }
g.server_healthy > text { stroke:#000000; fill:#000000; }

g.server_unhealthy > rect { stroke:#ff0066; fill:#ffdce8; }
g.server_unhealthy > text { stroke:#ff0066; fill:#ff0066; }

g.server_ip_address_healthy > rect { stroke:#009900; fill:#e6ffe6; }
g.server_ip_address_healthy > text { stroke:#000000; fill:#000000; }

g.server_ip_address_unhealthy > rect { stroke:#ff0066; fill:#ffe6f0; }
g.server_ip_address_unhealthy > text { stroke:#ff0066; fill:#ff0066; }

g.transform > rect { stroke: #6A5ACD; fill: #e2e2f8; }
g.transform > text { stroke:#696969; fill:#696969; }

g.cors > rect { stroke: #6A5ACD; fill: #e2e2f8; }
g.cors > text { stroke:#696969; fill:#696969; }

g.round_robin > rect { stroke:#808080; fill:#F5F5DC; }
g.round_robin > text { stroke:#696969; fill:#696969; }

g.round_robin_output > rect { stroke:#d8d874; fill:#f9f9eb; }
g.round_robin_output > text { stroke:#000000; fill:#000000; }

g.sticky_session > rect { stroke:#808080; fill:#F5F5DC; }
g.sticky_session > text { stroke:#000000; fill:#000000; }

g.sticky_session_output > rect { stroke:#d8d874; fill:#f9f9eb; }
g.sticky_session_output > text { stroke:#000000; fill:#000000; }

g.least_connections > rect { stroke:#808080; fill:#F5F5DC; }
g.least_connections > text { stroke:#000000; fill:#000000; }

g.least_connections_output > rect { stroke:#d8d874; fill:#f9f9eb; }
g.least_connections_output > text { stroke:#000000; fill:#000000; }

g.popup > rect { stroke:#808080; fill:#F5F5DC; }
g.popup > text { stroke:#696969; fill:#696969; }

g.button > rect { stroke:#b3ff66; fill:#40bf80; }
g.button > text { stroke:#ffffff; fill:#ffffff; }

g.list  >  rect { stroke:#808080; fill:#F5F5DC; opacity:0.8; }

line.connection_unknown { stroke-width: 0.9; stroke: #000000; }
line.connection_none { stroke-width: 0.8; stroke: #ff0066; }
line.connection_light { stroke-width: 0.9; stroke: #009900; }
line.connection_medium { stroke-width: 1.6; stroke: #009900; }
line.connection_heavy { stroke-width: 2.8; stroke: #009900; }

g.disabled > rect { stroke:#808080; fill:#fefefe; opacity: 0.6; }
g.disabled > text { stroke:#d0d0d0; fill:#d0d0d0; }

g.piechart > rect { stroke: #a0a0a0; fill: #fdfdfd; }

g.pie circle.center { fill:#ffffff }
g.pie circle.segment_1 { fill:transparent; stroke: #009900; stroke-width: 25;}
g.pie circle.segment_2 { fill:transparent; stroke: #990000; stroke-width: 25;}
g.pie circle.segment_3 { fill:transparent; stroke: #000099; stroke-width: 25;}
g.pie circle.segment_4 { fill:transparent; stroke: #999900; stroke-width: 25;}
g.pie circle.segment_5 { fill:transparent; stroke: #009999; stroke-width: 25;}
g.pie circle.segment_6 { fill:transparent; stroke: #990099; stroke-width: 25;}
g.pie circle.segment_7 { fill:transparent; stroke: #660066; stroke-width: 25;}
g.pie circle.segment_8 { fill:transparent; stroke: #006600; stroke-width: 25;}
g.pie circle.segment_9 { fill:transparent; stroke: #660000; stroke-width: 25;}

g.pie text { font-size: 20px; padding: 0; margin: 0; }

g.legend circle.segment_1 { fill:#ffffff; stroke: #009900; stroke-width: 3;}
g.legend circle.segment_2 { fill:#ffffff; stroke: #990000; stroke-width: 3;}
g.legend circle.segment_3 { fill:#ffffff; stroke: #000099; stroke-width: 3;}
g.legend circle.segment_4 { fill:#ffffff; stroke: #999900; stroke-width: 3;}
g.legend circle.segment_5 { fill:#ffffff; stroke: #009999; stroke-width: 3;}
g.legend circle.segment_6 { fill:#ffffff; stroke: #990099; stroke-width: 3;}
g.legend circle.segment_7 { fill:#ffffff; stroke: #660066; stroke-width: 3;}
g.legend circle.segment_8 { fill:#ffffff; stroke: #006600; stroke-width: 3;}
g.legend circle.segment_9 { fill:#ffffff; stroke: #660000; stroke-width: 3;}

g.legend text { font-size: 8px; padding: 0; margin: 0; }
